@font-face{
    font-family: Hyperwave;
    src: url('/public/fonts/Hyperwave.woff2');
}

#root{
    background-color: white;
    width: 100vw;
    height: 100vh;
}

html{
    margin: 0;
    padding: 0;
}

h1{
    font-family: Hyperwave;
    margin: 0;
}

h2{
    font-family: Hyperwave;
}

h3{
    font-family: Hyperwave;
}

p{
    font-family: Hyperwave;
}

.card-container{
    position: relative;
    height: 69.7vh;
    width: 69.7vh;
}

.card{
    position: relative;
    width: 46%;
    height: 66%;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}

.logo-container{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    margin-left: 3%;
    width: 68%;
    z-index: 1;
}

.player-name-container{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 3vh;
    z-index: 4;
}

.player-name{
    width: 100%;
    position: absolute;
    justify-content: center;
    bottom: 0;
    z-index: 4;
}

.player-name h1{
    height: 5.5vh;
    font-size: 9vh;
}

.nickname-container{
    width: 100%;
}

.nickname{
    font-size: 5vh;
}

.card-image-container{
    position: absolute;
    width: 100%;
    height: 85%;
    overflow: hidden;
    bottom: 0;
    z-index: 3;
}

.card-image{
    position: absolute;
    width: 100%; 
    height: 78%; 
    object-fit: cover;
    left: 0;
    bottom: 0;
}

.position-container{
    position: relative;
    margin-top: 1vh;
    width: 8vh;
    height: 8vh;
}

.position{
    width: 8vh;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.position h2{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 5vh;
    text-align: center;
}

.stats-container{
    width: 100%;
    margin-top: -4vh;
}

.stat{
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 14%;
}

.stat h2{
    font-size: 5vh;
}

.stat-name{
    margin-right: 10%;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: rotate(360deg);
        animation-timing-function: ease-in;
    }
}

.loading-icon {
    width: 50%;
    animation: rotateAnimation 2s infinite;
}